@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

.scroll-none::-webkit-scrollbar {
  display: none;
}

html,
body {
  scroll-behavior: smooth;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.animate-progre ss {
  animation: progress 2s ease-in-out infinite;
}
.animate-progress {
  animation: progress 2s ease-in-out infinite;
}
.animate-spin-reverse {
  animation: spin 3s linear infinite reverse;
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fade-in {
  animation: fade-in 0.5s ease-out forwards;
}
